<div class="comment comment-box" id="comment-hide">
 <div class="user-photo">
 <%= link_to (image_tag current_author.author_pic.url(:small), :class=>"show-user-comment-pic"), author_profile_path(current_author.id) %>

 </div>
<div class="comment-body">
<%= form_for [ @article, @comment ], :remote =>"true" do |f|%>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
                <div class="input-group">
                  <div class="inputer">
                    <div class="input-wrapper">
               
                            <%= f.text_area :body, :placeholder=> "Join the discussion", :class=>"form-control js-auto-size", :rows=>"1", :required => "true", :id =>"write-comment" %>
                     
                    </div>
                  </div><!--.inputer-->
  <div class="field">
    
    <%= f.hidden_field :author_id, :value => current_author.id %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :article_id, :value => @article_id %>
  </div>

                  <span class="input-group-btn">
                    <%= f.submit "Send", :class=>"btn btn-primary" %>
                  </span>
                </div><!--.input-group-->

              </div><!--.comment-body-->





<% end %>
  </div><!--.comment-->

