<% @authors.each do |a| %>
    <% a.articles.each do |b| %>



    <div class="col-md-5" style="padding-bottom: 10px;">
      <div class="card card-event">
        <div class="card-heading bg-image">
         <%=link_to (image_tag b.image.url(:medium), :style=>"    width: 100%; height: 180px;    position: relative;"), article_path(b.id)%>

         
       </div><!--.card-heading-->

       <div class="card-body" style="
       margin-top: 30px;
       background-color: white;
       height: 250px;
       padding-top: 30px;
       ">
       <div class="calendar" style="top:-22px;">
        <div class="month" style="    width: 74px;"><%= b.created_at.strftime("%B %-d")%></div>
        <div class="date"><%= b.created_at.strftime("%Y")%></div>
      </div><!--.calendar-->
      <h4><%=link_to b.title, article_path(b.id), :class=> "read-more" %></h4>

     
      <p> <%=  sanitize(b.body, tags: %w(p )).truncate(120, :separator => " ").html_safe%><%=link_to "Read More", article_path(b.id), :class=> "read-more"%></p>
    </div><!--.card-body-->

    
  </div><!--.card-->

</div><!--.col-md-6-->

<% end %>

<%end%>