
<div class="content">

  <div class="page-header brown full-content parallax opacity-hero" style="height: 450px; overflow: hidden;    margin-top: 0px;
    margin-right: -80px; 
    margin-left: -80px;     margin-bottom: 16px;">
    <div >
    <%= image_tag @article.image.url(:large), :style=>" background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;" %>
    </div>

    <div class="row">
      <!--.col-->
       <!--  <div class="col-sm-6">
          <ol class="breadcrumb">
            <li><a href="#"><i class="ion-home"></i></a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#" class="active">Blog</a></li>
          </ol>
        </div> --><!--.col-->
      </div><!--.row-->

    </div><!--.page-header-->
     <%if author_signed_in?%>
            <%if current_author.id == @article.author_id %>
         <div style="float:right">
  
         <%=link_to '<i class="fa fa-pencil fa-fw fa-lg "></i>'.html_safe,  edit_article_path(@article), data: { "toggle" => "tooltip", "title" => "Edit", "placement" => "bottom"} %></li>&emsp;
   
       <%= link_to '<i class="fa fa-trash-o fa-fw fa-lg" style="color:#d9534f;"></i>'.html_safe, article_path(@article, :@abc=> true), method: :delete, data: { "toggle" => "tooltip", "title" => "Delete", "placement" => "bottom", confirm: "Delete the comment ?"}%></li>
        </div>
            <%end%>
            <%end%>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h1 class="text-center margin-bottom-40" style="font-size: 34px; margin-top:20px; margin-bottom:30px!important; letter-spacing: 2px;font-weight: 400;
" ><%= @article.title %></h1>
      </div><!--.col-->
    </div><!--.row-->
  <!--   <p>
      <strong>Author:</strong>
      <%= @article.author.username %>
    </p> -->







      

<div class="row">
      <div class="col-md-12">

        <p style="text-align:justify;font-size: 18px;color: blue;    color: rgba(0, 0, 0, 0.87);
    font-weight: 300;"><%= raw @article.body %></p>
                    <%if @article.tags.present?%>    
         
 <div class="row">
  <div style="float:right;     margin-top: 5px;">
  <% @article.tags.each do |tag| %>
     


          <ul class="inline-list" style="display:inline-block;">
            <li><span class="badge tag-name"><%=tag.name.upcase%></span></li>

          </ul>

     <!--.col-->
       <% end %>

      </div>
    </div><!--.row-->   
         
      
        <%end%>

      </div><!--.col-->
    </div><!--.row-->


<div class="row">
      <div class="col-md-12">
<p class="time"><span style="font-size: 16px;"><%= @article.created_at.strftime("%B %-d, %Y")%></span> <small style="color: #737373;     font-size: 15px;"> by <%=link_to @article.author.username, author_profile_path(@article.author_id), :class=>"read-more", :style=>"color: #2098F3;"%></small></p>
</div>
</div>

   
      <!--   <div class="row image-row margin-top-40 margin-bottom-40">

          <div class="col-md-6 col-md-offset-2" >
            <%= image_tag @article.image.url(:medium) %>
          </div>
        </div> -->

 





        <!-- <ul class="inline-list social-list">
          <li><a class="btn btn-facebook"><i class="ion-social-facebook"></i></a></li>
          <li><a class="btn btn-twitter"><i class="ion-social-twitter"></i></a></li>
          <li><a class="btn btn-googleplus"><i class="ion-social-googleplus"></i></a></li>
        </ul> -->

      </div><!--.col-->
    </div><!--.row-->

    <div class="full-content bg-white margin-top-40" style="margin-left: 0px;
    margin-right: 0px;    overflow-x: hidden;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="    padding: 30px;
    padding-top: 0px;">

          <h4 style="    font-size: 22px;">Comments(<span id="count"><%=@article.comments.size%></span>)</h4>

          <div class="comments">

          <%if author_signed_in?%>
            <%= render partial: 'comments/form' %>
            <%article_id=@article.id%>
            <%end%>
         <div id="ajax-comment">
            <%= render partial: 'articles/comment', collection: @article.comments.order("created_at DESC")%>
            </div>



          
           
           



          </div><!--.comments-->

        </div><!--.col-->
      </div><!--.row-->
<%x= @article.author.articles.size%>
<%if x>1 %>
    <div class="row" style="padding:30px;     margin-left: -10px;
    margin-right: -10px;">
 <p style="      padding-left: 10px;font-size: 22px;font-weight: 500;">Recommended articles from same author : </p>
    <% a=@article.id %>
   
        <% @article.author.articles.limit(4).each do |art|%>
          <% if a!=art.id %>

      <div class="col-md-4">







      <div class="card card-event">
          <div class="card-heading bg-image">
           <%=link_to (image_tag art.image.url(:medium), :style=>"    width: 100%;    position: relative;"), article_path(art.id), :style=>"    height: 300px;"%>
          </div><!--.card-heading-->

          <div class="card-body" style="    margin-top: 30px;
    background-color: white;        height: 215px;">
            <div class="calendar">
              <div class="month" style="    width: 68px;"><%= art.created_at.strftime("%B %-d")%></div>
              <div class="date"><%= art.created_at.strftime("%Y")%></div>
            </div><!--.calendar-->
            <h4 style="font-size: 20px;color: #7C9194;margin-top: 20px;"><%=link_to art.title, article_path(art.id), :class=> "read-more" %></h4>
            <p style="font-size: 15px; "><%= raw art.body.truncate(200)%><%=link_to "Read More", article_path(art.id), :class=> "read-more hover-read-more" ,:style=>"color: #9d9d9d;"%></p>
          </div><!--.card-body-->

    
        </div><!--.card-->

      </div><!--.col-md-4-->

      


   <%end%>
        <%end%>
    </div><!--.row-->
    <%else%>
    <%end%>
    </div><!--.full-content-->



  </div><!--.content-->


      
 

      <div class="content container-fluid">
      
         <div class="page-header brown full-content parallax opacity-hero" style="height: 450px; overflow: hidden;    margin-top: 0px;
    margin-right: -80px; 
    margin-left: -80px;     margin-bottom: 16px;">
    <div >
    <%= image_tag @article.image.url(:large), :style=>" background-size: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;" %>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        
      
      <div class="col-md-7">
        <p style="
    
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    color:  #7C9194;

"><%= @article.title %></p>
        <div class="row">
          <p style="
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
"> by <%= link_to @article.author.username, author_profile_path(@article.author_id) %> On <%= @article.created_at.strftime("%B %-d, %Y")%> Comments(<%=@article.comments.size %>) Views ()</p>
        </div>
        <div style="text-align: justify;font-size: 20px;font-weight: 200;color: black;">
          <%= @article.body %>
        </div>
           <div class="content bg-white margin-top-40">
      <div class="row" >
        <div >

          <h4 style="    font-size: 22px;font-weight: 400;letter-spacing: 2px;">Comments(<span id="count"><%=@article.comments.size%></span>)</h4>

          <div class="comments">

          <%if author_signed_in?%>
            <%= render partial: 'comments/form' %>
            <%article_id=@article.id%>
            <%end%>
         <div id="ajax-comment">
            <%= render partial: 'articles/comment', collection: @article.comments.order("created_at DESC")%>
            </div>
            <div><!--.comments-->

        </div><!--.col-->
      </div><!--.row-->
        </div>
      </div>
</div>
</div>
<div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <label></label>
        </div>
        <div class="col-md-3"></div>
          
        
<%x= @article.author.articles.size%>
<%if x>1 %>
    <div class="row" style="padding:30px;     margin-left: -10px;
    margin-right: -10px;">
 <p style="      padding-left: 10px;font-size: 22px;font-weight: 500;">Recommended articles from same author : </p>
    <% a=@article.id %>
   
        <% @article.author.articles.limit(4).each do |art|%>
          <% if a!=art.id %>
      <div class="card card-event">
          <div class="card-heading bg-image">
           <%=link_to (image_tag art.image.url(:medium), :style=>"    width: 100%;    position: relative;"), article_path(art.id), :style=>"    height: 300px;"%>
          </div><!--.card-heading-->

          <div class="card-body" style="    margin-top: 30px;
    background-color: white;        height: 215px;">
            <div class="calendar">
              <div class="month" style="    width: 68px;"><%= art.created_at.strftime("%B %-d")%></div>
              <div class="date"><%= art.created_at.strftime("%Y")%></div>
            </div><!--.calendar-->
            <h4 style="font-size: 20px;color: #7C9194;margin-top: 20px;"><%=link_to art.title, article_path(art.id), :class=> "read-more" %></h4>
            <p style="font-size: 15px; "><%= raw art.body.truncate(200)%><%=link_to "Read More", article_path(art.id), :class=> "read-more hover-read-more" ,:style=>"color: #9d9d9d;"%></p>
          </div><!--.card-body-->

    
        </div><!--.card-->

      

      


   <%end%>
        <%end%>
    </div><!--.row-->
    <%else%>
    <%end%>
      </div>



      </div>
        </div>
      </div>











