<!DOCTYPE html>
<html>
<head>
  <title>Themeblogger1</title>
<%if author_signed_in?%>
  <%= stylesheet_link_tag    'application', media: 'all'%>
<%else%>
<%= stylesheet_link_tag 'application_landing', media: 'all'%>
<%end%>
  <%= javascript_include_tag 'application' %>



  <%= csrf_meta_tags %>
  <!-- BEGIN SHORTCUT AND TOUCH ICONS -->

  <!-- END SHORTCUT AND TOUCH ICONS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body id="body1" class=<%if current_page?(new_author_session_path) %>"bg-login-printable"<%elsif current_page?(new_author_registration_path)%>"bg-login-printable"<%else%>"one-page" <%end%> >
<% if author_signed_in?%>
  <div class="nav-bar-container">

    <!-- BEGIN ICONS -->
    <div class="nav-menu">
      <div class="hamburger">
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
        <span class="patty"></span>
      </div><!--.hamburger-->
    </div><!--.nav-menu-->

    <!-- <div class="nav-search">
      <span class="search"></span>
    </div> --><!--.nav-search-->

    

    <div class="nav-bar-border"></div><!--.nav-bar-border-->

    <!-- BEGIN OVERLAY HELPERS -->
    <div class="overlay">
      <div class="starting-point">
        <span></span>
      </div><!--.starting-point-->
      <div class="logo">PLEASURE</div><!--.logo-->
    </div><!--.overlay-->

    <div class="overlay-secondary"></div><!--.overlay-secondary-->
    <!-- END OF OVERLAY HELPERS -->

  </div><!--.nav-bar-container-->
  <div class="content">

    <div class="page-header full-content bg-blue" style="    margin-top: 0px;    margin-bottom: 0px;    margin-top: -64px;
    /*margin-right: -80px;
    margin-bottom: 50px;    margin-left: -80px; */">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <h1><%=link_to "Blogger", articles_path(@articles), :class=>"index-logo",:style=>'
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
'%></h1>
        </div><!--.col-->
        <div class="col-md-5 col-md-offset-3 hidden-sm hidden-xs" style="    margin-top: 7px;">
          
         
     <ul class="display-inline" style="    font-size: 2px;
    padding-right: 5px;    float: right;
    margin-top: 0px;">
        <li style="padding:8px;"><%=link_to "Home", articles_path(@articles), :class=>"read-more"%></li>
        <%if author_signed_in?%>
        <li style="padding:8px;">
          <%= link_to "Create a new article", new_article_path, :class=>"read-more"%>
 
           <!--  <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%=
                  current_author.username %><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><%=link_to "Profile", author_profile_path(current_author.id)%></li>
                    <li> <%=link_to "Sign out", destroy_author_session_path, :method => :delete, :class=>"read-more" %></li>
                    
                  </ul>
                </div> -->

        </li>
        <li style="padding:8px;">
          <%=link_to current_author.username, author_profile_path(current_author.id), :class=>"read-more"%>
          
        </li>
        <li style="padding:8px;">
          <%=link_to "Sign out", destroy_author_session_path, :method => :delete, :class=>"read-more" %>
        
        </li>
        <%else%>
        <li style="padding:8px;"><%=link_to "Sign in", new_author_session_path, :class=>"read-more" %></li>
 
        <li style="padding:8px;"> <%= link_to "Sign up", new_author_registration_path, :class=>"read-more" %></li>
        <%end%>
      </ul>
     
       
          
        </div><!--.col-->


      </div><!--.row-->
    </div><!--.page-header-->


    <div class="layer-container">

      <!-- BEGIN MENU LAYER -->
      <div class="menu-layer">
        <ul>
          <li >
            <%=link_to "Blogger", articles_path(@articles)%>
          </li>
          <%if author_signed_in?%>
          <li>
            <%= link_to "Create a new article", new_article_path%>

          </li>


          <li>
            <%=link_to current_author.username, author_profile_path(current_author.id)%>

          </li>
          <li>
            <%=link_to "Sign out", destroy_author_session_path, :method => :delete %>

          </li>
          <%else%>
          <li><%=link_to "Sign in", new_author_session_path %></li>

          <li> <%= link_to "Sign up", new_author_registration_path %></li>
          <%end%>
        </ul>
      </div><!--.menu-layer-->
      <!-- END OF MENU LAYER -->

      <!-- BEGIN SEARCH LAYER -->
      <div class="search-layer">
        <div class="search">
          <form action="pages-search-results.html">
            <div class="form-group">
              <input type="text" id="input-search" class="form-control" placeholder="type something">
              <button type="submit" class="btn btn-default disabled"><i class="ion-search"></i></button>
            </div>
          </form>
        </div><!--.search-->

        <div class="results">
          <div class="row">
            <div class="col-md-4">
              <div class="result result-users">
                <h4>USERS <small>(3)</small></h4>

                <ul class="list-material">
                  <li class="has-action-left">
                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <img src="/assets/faces/1.jpg" class="face-radius" alt="">
                      </div>
                      <div class="list-content">
                        <span class="title">Pari Subramanium</span>
                        <span class="caption">Legacy Response Assistant</span>
                      </div>
                    </a>
                  </li>
                  <li class="has-action-left">
                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <img src="/assets/faces/10.jpg" class="face-radius" alt="">
                      </div>
                      <div class="list-content">
                        <span class="title">Andrew Fox</span>
                        <span class="caption">National Branding Technician</span>
                      </div>
                    </a>
                  </li>
                  <li class="has-action-left">
                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <img src="/assets/faces/11.jpg" class="face-radius" alt="">
                      </div>
                      <div class="list-content">
                        <span class="title">Lieke Vermeulen</span>
                        <span class="caption">Global Tactics Consultant</span>
                      </div>
                    </a>
                  </li>
                </ul>

              </div><!--.results-user-->
            </div><!--.col-->
            <div class="col-md-4">
              <div class="result result-posts">
                <h4>POSTS <small>(5)</small></h4>

                <ul class="list-material">
                  <li class="has-action-left">
                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <img src="/assets/picjumbo/1.jpg" class="img-radius" alt="">
                      </div>
                      <div class="list-content">
                        <span class="title">Mobile Trends for 2015</span>
                        <span class="caption">Collaboratively administrate empowered markets via plug-and-play networks.</span>
                      </div>
                    </a>
                  </li>
                  <li class="has-action-left">
                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <img src="/assets/picjumbo/10.jpg" class="img-radius" alt="">
                      </div>
                      <div class="list-content">
                        <span class="title">Interview with Phillip Riley</span>
                        <span class="caption">Dynamically procrastinate B2C users after installed base benefits.</span>
                      </div>
                    </a>
                  </li>
                  <li class="has-action-left">
                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <img src="/assets/picjumbo/11.jpg" class="img-radius" alt="">
                      </div>
                      <div class="list-content">
                        <span class="title">Workspaces</span>
                        <span class="caption">Dramatically visualize customer directed convergence without revolutionary ROI.</span>
                      </div>
                    </a>
                  </li>
                  <li class="has-action-left">
                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <img src="/assets/picjumbo/5.jpg" class="img-radius" alt="">
                      </div>
                      <div class="list-content">
                        <span class="title">Graphics &amp; Multimedia</span>
                        <span class="caption">Efficiently unleash cross-media information without cross-media value.</span>
                      </div>
                    </a>
                  </li>
                  <li class="has-action-left">
                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                    <a href="#" class="visible">
                      <div class="list-action-left">
                        <img src="/assets/picjumbo/6.jpg" class="img-radius" alt="">
                      </div>
                      <div class="list-content">
                        <span class="title">Interactive Storytelling</span>
                        <span class="caption">Quickly maximize timely deliverables for real-time schemas.</span>
                      </div>
                    </a>
                  </li>
                </ul>

              </div><!--.results-posts-->
            </div><!--.col-->
            <div class="col-md-4">
              <div class="result result-files">
                <h4>FILES <small>(0)</small></h4>
                <p>No results were found</p>
              </div><!--.results-files-->
            </div><!--.col-->

          </div><!--.row-->
        </div><!--.results-->
      </div><!--.search-layer-->
      <!-- END OF SEARCH LAYER -->
      <!-- BEGIN USER LAYER -->

      <!-- END OF USER LAYER -->

    </div><!--.layer-container-->
   

    <%= javascript_include_tag 'application_plugins' %>
    <%end%>
    <%= yield %>
<%= javascript_include_tag 'application_landing'%>

<%if author_signed_in?%>
    <%= javascript_include_tag 'application_postyield' %>
    <!-- footer -->
    <div class="footer-links margin-top-40">
      <div class="row no-gutters" style="    background-color: #3E50B4;    height: 61px;">
        <div class="col-md-4 col-xs-12" >
        
        </div><!--.col-->
        <div class="col-md-4">
          <p style="    color: white;    margin-top: 20px;
    font-size: 14px;        padding-left: 56px;">© 2016 Blogger | All Rights Reserved
</p>
        </div>
        
      </div><!--.row-->
    </div><!--.footer-links-->
  </div>
    <%end%>
    
</body>

</html>
<script type="text/javascript">
$(document).ready(function(){
 $("#check").blur(function(){  
    var ab =$("#check").val();
  
   $.ajax({
    type: 'GET',
    url: '/name',
    data: { email: ab }
   });
  

 });





   var $email = $("#check"); //change form to id or containment selector

  

$("#new").submit(function(e){
if($("#check").val() != ""){
var re = /[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}/igm;
 
if ($email.val() == '' || !re.test($email.val()))
{
   

    $("#mail").show();
    $("#check").click(function(){
      $("#mail").hide();
    }); 
    
       
    
        e.preventDefault();
        
 }

 
 
    
}
});

//    $("#sub").click(function(){
//     if($("#first").val() != $("#second").val()){
//       $("#pass").show();
//     $("#first").click(function(){
//       $("#pass").hide();
      
//     });
   
//     $("#new_author").submit(function(e){
//         e.preventDefault();
//         });
// }
//    });
  


// if($('#same').is(':visible'))
// {  alert("dscs");
//    $("#new_author").submit(function(e){
//         e.preventDefault();
//         });
// }
// $("#author_username").blur(function(){
//  if($("#author_username").val() ){
// alert("defw");
//  }
  
// })
  // $('#author_username').keyup(function(e){
  //       if (e.which === 32 && e.target.selectionStart === 0) {
  //           alert('No space are allowed in usernames');
  //           var str = $(this).val();
  //           str = str.replace(/\s/g,'');
  //           $(this).val(str);            
  //       }
  //     });
  //   // }).blur(function() {
  //   //     var str = $(this).val();
  //   //     str = str.replace(/\s/g,'');
  //   //     $(this).val(str);            
  //   // });


$('input').on("keypress", function(e) {
    if (e.which === 32 && !this.value.length)
      {  e.preventDefault();}
});

$("#first").on("keypress",function(e){
  if(e.which ===32){
   e.preventDefault();
   
  }
});
$("#second").on("keypress",function(e){
  if(e.which ===32){
   e.preventDefault();
  }
});
$('#showpass').on('click',function(){
 
if($(this).attr('data-click-state') == 1) {
$(this).attr('data-click-state', 0)
$("#first").attr('type','text') 

 
} else {
$(this).attr('data-click-state', 1)
 
$("#first").attr('type','password')
// $("#first").attr('title',' hide password')  

          $("#showpass").attr('title', 'hide password')
          
}
 
});
 });
</script>

